.members {
  clear: both;
  padding: 3rem 0 1.5rem;

  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    width: 100%;
  }

  li {
    flex-basis: content;
    list-style: none;
    padding: 2em;
  }

  a {
    display: block;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    max-height: 45px;
  }
}
