#block-pinwheel-main-menu {
  position: initial;
}

nav .responsive-menu {
  width: 100%;
  cursor: pointer;
  background: var(--dark-blue);
  border: 0;
  color: white;
  padding: 1rem;
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;

  &:hover,
  &:focus {
    background: var(--light-blue);
    color: var(--dark-blue);
  }

  &.is-active {
    background: var(--dark-blue);
    color: white;
  }
}

nav > ul {
  list-style-type: none;

  li {
    list-style-type: none;
  }

  .menu-item {
    display: none;
  }

  .menu-item.expanded {
    display: block;
    flex-basis: 100%;
    position: relative;

    ul a {
      font-weight: 400;
      text-transform: initial;
    }
  }

  a,
  a:visited {
    padding: 1rem;
    display: block;
    position: relative;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;

    @media screen and (max-width: 1435px) {
      padding-right: 55px;
    }

    &:hover,
    &:focus {
      background: var(--light-blue);
      color: var(--dark-blue);
    }

    &.is-active {
      background: var(--dark-blue);
      color: white;
    }
  }

  .menu-item--active-trail > a {
    background: var(--dark-blue);
    color: white;
  }

  ul.expanded {
    display: block;
  }
}

.submenu-toggle {
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 9;

  @media screen and (min-width: 1450px) {
    display: none;
  }
}

.menu-item--active-trail .submenu-toggle {
  color: white;
}

@media screen and (max-width: 599px) {
  nav {
    width: 100%;
  }

  nav > ul {
    left: 0;
  }
}

@media screen and (min-width: 600px) {
  nav .responsive-menu {
    margin-left: auto;
    margin-right: 1rem;
    min-height: 125px;
    width: auto;
  }

  nav > ul {
    left: initial;
  }
}

@media screen and (max-width: 1449px) {
  nav > ul {
    position: absolute;
    right: 0;
    background: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 9;
  }
}

@media screen and (min-width: 1450px) {
  header nav {
    flex: 1;
  }

  nav .responsive-menu {
    display: none;
  }

  nav > ul {
    display: flex;
    justify-content: space-evenly;

    .menu-item {
      display: block;
    }

    > li > a {
      min-height: 125px;
      min-width: 185px;
    }

    > li {
      flex: 1;
      margin: 0 1rem;
      position: relative;

      &:hover ul,
      &:focus ul {
        top: 125px;
        z-index: 10001;
        min-width: 200px;
        max-width: 350px;
        background: white;
        box-shadow: 0px 0px 1px var(--dark-blue);

        li:hover,
        li:focus {
          background: var(--light-blue);
        }

        a {
          opacity: 1;
          padding: 0.75rem 1rem;
        }
      }

      &:focus-within ul {
        top: 125px;
        z-index: 10001;
        min-width: 200px;
        max-width: 350px;
        background: white;
        box-shadow: 0px 0px 1px var(--dark-blue);

        li:hover,
        li:focus {
          background: var(--light-blue);
        }

        a {
          opacity: 1;
          padding: 0.75rem 1rem;
        }
      }
    }

    > li > a {
      padding-top: 4rem;
    }

    // submenu
    ul {
      position: absolute;
      top: -1000%;
      width: 100%;
      z-index: -1;
      margin-left: 0;
      padding: 0;

      a {
        text-transform: initial;
        font-weight: 400;
        height: initial;
      }
    }
  }
}
