@mixin pul-icon {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "pul_base_theme";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}
