.layout-content {
  width: 100%;

  @media (min-width: 768px) {
    float: left;
    width: 70%;
  }
}

.layout-sidebar-second {
  width: 100%;

  @media (min-width: 768px) {
    float: left;
    padding-left: 4%;
    padding-top: 2.875em;
    width: 25%;
  }
}
