header nav {
  margin: 0 auto;

  > ul {
    list-style: none;
    margin: 0;
    padding-left: 5px;
    text-align: center;

    > li {
      display: inline-block;
      padding: 15px 0;
      position: relative;
    }

    li a {
      color: $black;
      font: 300 13px $font-sans;
      letter-spacing: 0.1em;
      margin: 0 12px;
      padding: 10px 0;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  > ul > li > a.is-active {
    border-bottom: $blue-1 6px solid;
    color: darken($blue-1, 15);
  }

  li:hover a.is-active {
    border-bottom: $white;
  }

  li:hover {
    background: $white;
  }

  ul li:hover ul {
    display: block;
  }

  ul ul {
    background: $white;
    border: 1px solid $gray-lightest;
    border-bottom: 3px solid $gray-lightest;
    border-top: 0 none;
    display: none;
    list-style-type: none;
    margin-top: 15px;
    min-width: 251px;
    padding: 0;
    position: absolute;

    li {
      border-top: 1px solid $gray-lightest;
      text-align: left;
      width: 100%;

      &:hover {
        background: $gray-lightest;
      }
    }

    a {
      display: block;
      margin: 0;
      padding-left: 10px;
      text-transform: none;
      width: calc(100% - 10px);
    }
  }
}

ul li.responsive-tab {
  display: none;
}

@media (max-width: 1000px) {
  header {
    nav > ul {
      padding: 0;
      width: 100%;
    }

    nav li:hover {
      background: none;
    }

    nav > ul li.responsive-tab {
      display: block;
      height: 35px;
      padding: 1em;
    }

    .responsive-logo {
      background: url("/themes/custom/recap/assets/public/images/recap-logo.svg") center center no-repeat;
      background-size: contain;
      display: block;
      float: left;
      height: 15px;
      width: 105px;

      img {
        display: none;
      }
    }

    .responsive-menu {
      background: $black;
      border: 0;
      color: $white;
      float: right;
      font: 300 24px "Oswald", $font-sans;
      margin: 0 12px;
      text-transform: uppercase;
    }

    nav > ul > li {
      display: none;
      padding: 0;
      text-align: left;
    }

    nav > ul li.right {
      float: none;
    }

    nav > ul li {
      position: relative;
    }

    nav > ul li ul {
      background: $white;
      border: 0 none;
      display: none;
      margin: 0;
      position: static;
      width: 100%;
    }

    nav > ul li ul li {
      display: block;
      padding-left: 15px;
    }

    nav > ul li ul li a span {
      display: block;
      padding-left: 24px;
    }

    nav > ul li > a {
      background-image: none;
      display: block;
      text-align: left;
      width: 100%;
    }

    nav > ul > li > a.is-active {
      border: 0;
    }

    .collapsed a {
      padding: 1em;
    }
  }
}

.collapsed {
  background: $white;
  display: none;
}

@media (min-width: 1000px) {
  header nav > ul > li.collapsed {
    display: inline-block important;
    zoom: 1;
  }

  header nav > ul ul li.collapsed {
    display: block;
  }
}

main {
  position: relative;
  z-index: 0;
}
