@import "libraries/sass-toolkit/stylesheets/toolkit";
@import "libraries/breakpoint-sass/stylesheets/breakpoint";
@import "libraries/susy/susy/language/susy";

.layout-container {
  @include container;
}

.l-header,
.l-footer,
.wrapper {
  @include clearfix;

  margin: 0 auto;
}

.l-region--navigation,
.l-region--highlighted,
.l-region--highlighted,
.l-main,
.l-branding,
.l-region--footer {
  @include clearfix;

  margin: 0 auto;
}

.l-main {
  padding: 1em;
}

.front .l-main {
  @include breakpoint($desk) {
    padding: 0;
  }
}

ul {
  margin: 0;
}

// @include border-box-sizing;

// nav {
//   @include clearfix;
//   // tablet view
//   @include breakpoint($tab-desk) {
//     @include span(2 of 6 last);
//   }
//   // desktop view
//   @include breakpoint($desk) {
//     @include span(2 of 12);
//   }
// }


// sticky footer
html,
body {
  height: 100%;
}

.page-wrapper {
  margin-bottom: -60px;
  min-height: 100%;

  &:after {
    content: "";
    display: block;
    height: 60px;
  }
}
