@import "bourbon";
@import "susy";

.layout-container {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}

.l-header,
.l-footer,
.wrapper {
  @include clearfix;

  margin: 0 auto;
}

.l-region--navigation,
.l-region--highlighted,
.l-region--highlighted,
.l-main,
.l-branding,
.l-region--footer {
  @include clearfix;

  margin: 0 auto;
}

.l-main {
  padding: 1em 1em calc( 1em + 60px);
}

.front .l-main {
  @include breakpoint($desk) {
    padding: 0 0 calc( 1em + 60px);
  }
}

ul {
  margin: 0;
}


// sticky footer
html,
body {
  height: 100vh;
  margin: 0;
}

.page-wrapper {
  margin-bottom: -60px;
  min-height: 100vh;
}
