// @import "libraries/susy/susy/language/susy";

$tab: 44em;
$tab-desk: 54em;
$desk: 70em;

$susy: (
  "columns": susy-repeat(12), // The number of columns in our grid
  gutters: 2/3, // The size of a gutter in relation to a single column
);
