footer {
  background: $black;
  padding: 20px 0;
  color: $white;
  ul {
    margin: 0;
  }
  .layout-container > div {
    @include span(6 of 12);
    &:last-child {
      @include last;
    }
  }
  .copyright {
    // text-align: righ;
  }
}
