header {
    transition: all 0.6s ease 0s;
    width: 100%;
    background: #B6CED1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    @include clearfix();
    position: relative;
    z-index: 5;
}

.separator {
    background-color: $blue-1;
    border-color: $blue-1;
    color: $blue-1;
    height: 1px;
    width: 40px;
    margin-bottom: 30px;
}

.banner {
    height: 530px;
    position: relative;
    background: #fff;
    @include linear-gradient(lighten($blue-3, 5), lighten($blue-3, 20));
    h1 {
        text-align: center;
        font: 150px "Oswald";
        font-weight: 700;
        margin: 0;
        padding: 20px 0 0;
        position: relative;
        z-index: 2;
        letter-spacing: 0.05em;
    }
    h2 {
        font: 300 18px "Vollkorn";
        font-style: italic;
        font-weight: bold;
        margin: 0;
        position: relative;
        text-transform: capitalize;
        z-index: 2;
    }
    img {
        position: absolute;
        bottom: 0;
        opacity: 0.2;
        z-index: 1;
    }
}

header.clone {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
}

body.down header.clone {
    transform: translateY(0);
}
