header nav {
    margin: 0 auto;
    ul {
        list-style: none;
        margin: 0;
        padding-left: 5px;
        text-align: center;
        li {
            padding: 15px 0;
            display: inline-block;
        }
        li a {
            margin: 0 12px;
            padding: 10px 0;
            color: $black;
            font: 300 13px $font-sans;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            &:hover {
                border-bottom: $blue-1 6px solid;
                color: darken($blue-1,10);
            }
        }
    }
}
